<div *ngIf="shape">

  <h2>{{shape.type | uppercase}}</h2>
  <div><span>ID: </span>{{shape.id}}</div>
  <div>
      <label for="shape-type">Shape type: </label>
      <input id="shape-type" [(ngModel)]="shape.type" >

      <label for="shape-perimetre">perimetre: </label>
      <input id="shape-perimetre" [(ngModel)]="shape.perimetre" >

      <label for="shape-perimetre">surface: </label>
      <input id="shape-surface" [(ngModel)]="shape.surface" >

      <label for="shape-base">base: </label>
      <input id="shape-base" [(ngModel)]="shape.base" >

      <label for="shape-radius">radius: </label>
      <input id="shape-radius" [(ngModel)]="shape.radius" >

      <label for="shape-width">width: </label>
      <input id="shape-width" [(ngModel)]="shape.width" >

      <label for="shape-height">height: </label>
      <input id="shape-height" [(ngModel)]="shape.height" >

    </div>
    <button type="button" (click)="goBack()">go back</button>
  </div>
