<h2 class="text-3xl mb-10">Shapes List ID :</h2>
<div class="shapes-menu">


  <div class="text-xl p-12 divide-y" *ngFor="let shapesList of drawing"> ID {{shapesList.id}}
      <li class="list-none cursor-pointer " *ngFor="let shape of shapesList.shapes">
        <a routerLink="/detail/{{shape.id}}">
          <span class="badge">{{shape.type}}</span> {{shape.id}}
        </a>
      </li>

      <div class="rounded-sm p-4 text-xl no-underline inline-block w-full box-border order-none self-auto">
        <li class="list-none"> totalArea : {{shapesList.totalSurface}}</li>
        <li class="list-none">totalPerimeter : {{shapesList.totalPerimetre}}</li> </div>



  </div>


  <!-- <a routerLink="/detailList/{{shapesList.id}}" *ngFor="let shapesList of drawing">
     {{shapesList.id}}
   </a> -->
 </div>

 <!--<app-dashboard [shapeList]="selectedShapeList"></app-dashboard>-->

