<h2 class="text-3xl mb-10">Shapes List</h2>
<div class="shapes-menu">

  <div class="pr-24">
    <input id="new-shapeList" #shapeListID />
    <button type="button" class="add-button" (click)="addNewList()">+</button>
    <button type="button" class="add-button" (click)="deleteAllList()">- All</button>

  </div>

  <a  *ngFor="let shapesList of drawing">    {{shapesList.id}} <button class="add-button" class="delete" title="delete hero" (click)="deleteList(shapesList.id)"  >-</button>
  </a>
   <!-- -->
</div>

