<h2 class="text-3xl mb-10">Shapes List ID:</h2>

<app-dashboard-form></app-dashboard-form>

<div class="pb-8 ">
  <input id="new-shapeList" #shapeList />
  <button type="button" class="add-button" (click)="addNewList()">+</button>
  <button type="button" class="add-button" (click)="deleteAllList()">- ALL</button>
  <button type="button" class="add-button" (click)="getLists()">Submit</button>
</div>

<div class="shapes-menu">


    <div *ngFor="let form of drawing" class="DashList">
      <a routerLink="/{{ form.id }}">    {{form.id}}</a>
        <button class="add-button" class="delete" title="delete list" (click)="deleteList(form.id)">-</button>
        <ul class="shapes">
        <li class="cursor-pointer" *ngFor="let shape of form.shapes">
          <a routerLink="/detail/{{shape.id}}">{{ shape.type | titlecase }}</a>
          <button class="add-button" class="delete" title="delete list" (click)="deleteShapeFromList(form.id, shape.id)">-</button>
        </li>
      </ul>
      <button type="button" class="add-button">+</button>
    </div>


</div>




