/* ShapeListComponent's private CSS styles */


h2, h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}

.shapes-menu {
  padding: 0;
  margin: auto;
  max-width: 2000px;  /*change à 600 */
  cursor: pointer;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
}

.add-button {
  font-size: 1rem;
  background-color: #f8f8f8;
  color: #3d3d3d;
  font-family: Arial, Helvetica, sans-serif;

}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

div.DashList {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
